<!DOCTYPE html>
<head>
  <title>{% block title %}{% endblock %} - User App</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}" />
  <link rel="apple-touch-icon" sizes="180x180" href="static//apple-touch-icon.png" />
  <link rel="icon" type="image/png" sizes="32x32" href="/static/favicon-32x32.png" />
  <link rel="icon" type="image/png" sizes="16x16" href="/static/favicon-16x16.png" />
  <link rel="manifest" href="/static/site.webmanifest" />
</head>
<body>
  <nav>
    <div class="navtitle">
      <h1><a href="{{ url_for('index') }}">User App</a></h1>
    </div>
    <div class="navigation">
      <ul class="navl">
        <li>
          <a href="http://127.0.0.1:5000">Home</a>
        </li>
      </ul>
      <ul class="navr">
        {% if username %}
        <li>
          <a href="{{ url_for('user') }}">{{username}}</a>
        </li>
        <li>
          <a href="{{ url_for('logout') }}">Log Out</a>
        </li>
        {% else %}
        <li>
          <a href="{{ url_for('login') }}">Log In</a>
        </li>
        <li>
          <a href="{{ url_for('logout') }}">Log Out</a>
        </li>
        {% endif %}
      </ul>
    </div>
  </nav>
  <section class="content">
    <header>{% block header %}{% endblock %}</header>
    {% block content %}{% endblock %}
  </section>
</body>
